page-tab1 {
    //ion-content {
        //background: #904779 !important;

//}
.bg-image {
    background: url('../assets/imgs/tausta.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size:100% 100%;
    
}
.toolbar-background {
    background-color: #c299ff
    
  }
}

.content{
    font-size:18px;	
    font-size:18px;	
}