page-tab2 {
    ion-content {
        background: url('../assets/imgs/tausta.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-size:100% 100%;
      
                .item {
                    background: url('../assets/imgs/to-do.jpg');
        
                   
        
        }

    }
}

